.App {
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(to bottom left, #04A7F9, #0181C2);
}

.card {
  background-image: linear-gradient(to bottom left, #04A7F9, #0181C2);
}

.label {
  width: 50%;
}

.input {
  width: 75%;
}

.dateTime {
  margin: 20px;
}

.blank {
  width: 900px;
  height: 700px;
}